$background: linear-gradient(#111112, #13161f, #151b2c, #13244b, #081635, #263f76, #28437d);
$background_low_contrast: linear-gradient(to bottom, #7b7fb0, #8f91bc, #9697c0, #acadc3, #b0b2c3);

$primary-color: #747474;
$main-color: #264672;
$background-color: #ebebeb;
$important-color: #ff4a4a;
$second-color: #407ac9;
$font-family: "Jost", sans-serif;