$background: linear-gradient(#111112, #13161f, #151b2c, #13244b, #081635, #263f76, #28437d);

$primary-color: #747474;
$main-color: #264672;
$background-color: #ebebeb;
$old-background-color: #f7f7f7;
$important-color: #ff4a4a;
$second-color: #407ac9;
$font-family: "Jost", sans-serif;