@import '../styles/mixins.scss';
@import '../styles/variables.scss';

/* Feuille de style de Home.vue

========================================*/
  .hero {    
    text-align: center;
    background-image: url('../../public/img/earth_spaceview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
  }
  .hero-body .title {
    text-shadow: 4px 4px 4px #00000099;
    padding: 40px 0 20px 0;
    font-size: 60px; 
    @include for-tablet-portrait-up;
  }
  .formulaire {
    background-color: red;
  }
 .resize_logo {
    width: .9em;
  }
  .container h2 {
    font-size: 1.2em;
  }
  .subtitle {
    text-shadow: 4px 4px 4px #000000b3;
    font-size: 30px;
  }
  .button-block {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: -150px;
    .button {
      padding-left: 50px;
      padding-right: 50px;
    }
    .welcome {
      width: 400px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .is-xl {
    font-size: 1.7rem;
  }
/*=======================================================*/

/* Feuille de style de Signup.vue

=========================================================*/

#nav {
  padding: 20px;
  margin-bottom: 100px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.form {
  margin: 0 auto;
  background: $background;
  border-radius: 20px;
  box-shadow: 5px 6px 5px;
  padding: 2rem;
  width: 550px;
  @media screen and (max-width: 320px) {
    width: 300px;
    padding: 1.2rem;
  }
  /*@media screen and (min-width: 769px) and (max-width: 1439px) {
    margin: .9rem;
    padding: 1rem;
  }
  @media screen and (min-width: 1440px) and (max-width: 2160px) {
    margin: 10rem 35rem 20rem;
    padding: 3rem;
  }*/
}
.title, .label, .checkbox, .radio {
  color: #ffffff;
}
.placeholder {
  color:#000000;
}
.label {
  margin-top: 50px;
}
.field:nth-child(-n+5) {
  @include form_field_warning;
}

.control .check_conditions {
  margin-top: 20px;
}
.forgot-password, .already-signed {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  color: #ffffff;
}
#validName, #validMail {
  visibility: hidden;
}
#wrongName, #wrongMail {
  visibility: hidden;
}
/*======================================================*/

/* Feuille de style de Mainboard.vue

=========================================================*/

.navbar {
  width: 100%;
  display: flex;
  background: $background;
  height: 100px;
  align-content: space-between;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: baseline;
}
.navbar img {
  width: 50%;
}
.navbar-brand { 
  align-items: center;
}
.navbar-brand p {
  color: #ffffff;
}
.navbar-item a {
  color: #ffffff;
}
.welcome_msg {
  width: 10em;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*======================================================*/

/* Feuille de style de UserProfile.vue

=========================================================*/

.form_display {
  margin-top: 100px;
  @media screen and (max-width: 450px) {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1.5em;
}
@media screen and (min-width: 450px) and (max-width: 1025px) {
    width: 80%;
}
}

/*======================================================*/

/* Feuille de style de DeleteUser.vue

=========================================================*/
#delete_alert {
  color: white;
}

/*======================================================*/

/* Feuille de style de NewPostItems.vue

=========================================================*/

.post {
  color: $primary-color;
  border: solid lighten($main-color, 40%) 1px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  text-decoration: none;
  background-color: white;

  &_name{
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 0;
    .fa-user-circle{
      font-size: 18px;
      padding: 2px;
    }
  }

  &_link {
    &:hover {
      border: solid lighten($primary-color, 20%) 1px;
      .post_title {
        text-decoration: none;
      }
    }
  }

  &_title {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  &_content {
    font-size: 14px;
    margin: 0;
    padding-left: 8px;
  }

  &_image {
    box-sizing: border-box;
    max-width: 300px;
    margin: auto;
    display: block;
    padding: 8px;
  }

  &_comments {
    font-size: 12px;
    li {
      padding: 8px;
      margin: 8px 0;
      background-color: lighten($background-color, 7%);
      border: solid 1px $background-color;
      border-radius: 4px;
    }
    .fa-trash-alt {
      float: right;
      
    }
    ul {
      margin: 0;
      padding: 0 8px;
    }
    &-icon{
      font-size: 12px;
      letter-spacing: 0.4px;
    }
    &-icon:before {
      font-family: "Font Awesome\ 5 Free";
      content: "\f4ad";
      font-size: 14px;
      padding-right: 8px;
    }

  }
}

/*======================================================*/

/* Feuille de style de NewPost.vue

=========================================================*/

.new-post_linkBox-image {
  width: 100%;
}

.box {
  background-color: $background-color;
}

.dashboard-Items {
  box-sizing: border-box;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
  width: 60%;
  overflow: auto;
  margin: 32px auto;
  @media screen and (max-width: 525px) {
    width: 90%;
  }
}

.post-width {
  width: 80%;
  margin: auto;
}

.hidden {
  display: none;
}

#profileBox {
  background-color: $background-color;
  width: 2o0px;
  padding: 8px;
  position: absolute;
  right: 12px;
  text-align: right;
  box-shadow: 0px 0px 5px $background-color;

  .profile-link {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}

///item new
.new-post {
  padding: 8px;
  background: white;
  border: solid lighten($primary-color, 40%) 1px;
  border-radius: 4px;
  color: $primary-color;
  box-sizing: border-box;
  width: 60%;
  height: auto;
  margin: 16px auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 525px) {
    width: 90%;
  }

  &_linkBox {
    display: flex;
  }

  &_Link {
    border: solid lighten($primary-color, 40%) 1px;
    border-radius: 4px;
    color: $primary-color;
    background-color: white;
    padding: 8px;
    margin: 0 8px;
    text-decoration: none;
    font-size: 12px;
  }

  &_logo {
    width: 30px;
    border-radius: 100%;
  }

  &_form {
    display: flex;
    flex-direction: column;

    &-input {
      font-size: 12px;
      width: 100%;
      border: none;
      border-bottom: solid $main-color 1px;
      line-height: 30px;
    }

    &-label {
      padding-top: 8px;
      color: $main-color;
      font-weight: 500;
    }

    &-file {
      font-size: 12px;
      border: none;
      padding: 16px 0;
    }

    &-button {
      color: $main-color;
      border-radius: 16px;
      border: none;
      padding: 8px;
      background-color: white;
      border: $main-color solid 1px;
      width: 250px;
      margin: auto;
      &:hover {
        background-color: lighten($main-color, 10%);
        color: white;
        border: $second-color solid 1px;
      }
    }
  }
  .new-post_close-button {
    color: black;
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}

/*======================================================*/

/* Feuille de style de Post.vue

=========================================================*/

.delete-btn {
  margin-top: 10px;
  padding: 0.5em 1em;
  background-color: background-color;
  color: $second-color;
  border: 1px solid $second-color;
  border-radius: 5px;
  box-shadow: 2px 1px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}

/*======================================================*/

/* Feuille de style de NewCommentItem.vue

=========================================================*/

.newComment {
  padding: 8px;
  // width: 80%;
  box-sizing: border-box;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;

  &_part{
    padding: 8px;
    display: flex;
  }
  &_input {
    flex: 1;
    // width: 100%;
    padding: 8px;
    background: white;
    border: solid lighten($primary-color, 40%) 1px;
    border-radius: 4px;
    color: $primary-color;
    // margin: 0 8px;
  }
  // label{
  //   position: relative;
  //   left: 20px;
  // }
  .far {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 8px;
  }

  &_button {
    background-color: white;
    border-radius: 8px;
    color: $primary-color;
    border: solid lighten($primary-color, 40%) 1px;
    padding: 8px;
    margin: 8px;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}
