@import '../styles/mixins.scss';
@import '../styles/variables.scss';


/* Feuille de style de Home.vue

========================================*/
  .hero {    
    text-align: center;
    background-image: url('../../public/img/earth_spaceview.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
  }
  .hero-body .title {
    text-shadow: 4px 4px 4px #00000099;
    padding: 40px 0 20px 0;
    font-size: 60px; 
    @include for-tablet-portrait-up;
  }
  .formulaire {
    background-color: red;
  }
 .resize_logo {
    width: .9em;
  }
  .container h2 {
    font-size: 1.2em;
  }
  .subtitle {
    text-shadow: 4px 4px 4px #000000b3;
    font-size: 30px;
  }
  .button-block {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    bottom: -150px;
    .button {
      padding-left: 50px;
      padding-right: 50px;
    }
    .welcome {
      width: 400px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .is-xl {
    font-size: 1.7rem;
  }
/*=======================================================*/

/* Feuille de style de Signup.vue

=========================================================*/

#nav {
  padding: 20px;
  margin-bottom: 100px;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.form {
  margin: 0 auto;
  background: $background_low_contrast;
  border-radius: 20px;
  box-shadow: 5px 6px 5px;
  padding: 2rem;
  width: 550px;
  @media screen and (min-width: 320px) and (max-width: 375px){
    width: 300px;
    padding: 1.2rem;
  }
  @media screen and (min-width: 376px) and (max-width: 425px) {
    width: 360px;
    padding: 1rem;
  }
  @media screen and (min-width: 426px) and (max-width: 768px){
    width: 420px;
    padding: 2rem;
  }
}
.title, .label, .checkbox, .radio {
  color: #fff;
}
.placeholder {
  color:#000;
}
.label {
  margin-top: 50px;
}
.field:nth-child(-n+5) {
  @include form_field_warning;
}

.control .check_conditions {
  margin-top: 20px;
}
.forgot-password, .already-signed {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  color: #ffffff;
}
#validName, #validMail {
  visibility: hidden;
}
#wrongName, #wrongMail {
  visibility: hidden;
}
/*======================================================*/

/* Feuille de style de Mainboard.vue / Header.vue

=========================================================*/
.navbar {
  width: 100%;
  background: $background;
  height: 120px;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-menu {
  @media screen and (max-width: 1023px) {
    display: flex;
    padding: 0;
  }
}
.navbar img {
  width: 50%;
}
.navbar-tabs {
  flex-direction: column;
}
.navbar-end {
  flex-direction: column;
}
.navbar-brand {
  align-items: center;
}
.navbar-brand h1 {
  color: #ffffff;
}
.navbar-item a {
  color: #ffffff;
}
.navbar-item i {
  padding-right: 5px;
}
.welcome_msg {
  width: 10em;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*======================================================*/

/* Feuille de style de UserProfile.vue

=========================================================*/

.form_display {
  margin-top: 100px;
  @media screen and (max-width: 450px) {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1.5em;
}
@media screen and (min-width: 450px) and (max-width: 1025px) {
    width: 80%;
}
}

/*======================================================*/

/* Feuille de style de DeleteUser.vue

=========================================================*/
#delete_alert {
  color: white;
}

/*======================================================*/

/* Feuille de style de NewPostItems.vue

=========================================================*/

.post {
  color: $primary-color;
  border: solid lighten($main-color, 40%) 1px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px;
  text-decoration: none;
  background-color: white;

  &_name{
    font-size: 12px;
    display: flex;
    align-items: center;
    line-height: 0;
    .fa-user-circle{
      font-size: 18px;
      padding: 2px;
    }
  }

  &_link {
    &:hover {
      border: solid lighten($primary-color, 20%) 1px;
      .post_title {
        text-decoration: none;
      }
    }
  }

  &_title {
    color: $main-color;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }
  &_content {
    font-size: 14px;
    margin: 0;
    padding-left: 8px;
  }

  &_image {
    box-sizing: border-box;
    max-width: 450px;
    margin: auto;
    display: block;
    padding: 8px;
    @media screen and (max-width: 768px) {
      max-width: 280px;
    }
  }

  &_comments {
    font-size: 12px;
    li {
      display: flex;
      flex-direction: row;
      padding: 8px;
      margin: 8px 0;
      background-color: lighten($primary-color, 40%);
      border: solid 1px $background-color;
      border-radius: 8px;
      color: #000000;
    }
    li span {
      font-weight: 600;
    }
    .fa-trash-alt {
      float: right;
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      padding: 0 8px;
    }
    &-icon{
      font-size: 12px;
      letter-spacing: 0.4px;
    }
    &-icon:before {
      font-family: "Font Awesome\ 5 Free";
      content: "\f4ad";
      font-size: 14px;
      padding-right: 8px;
    }

  }
}

/*======================================================*/

/* Feuille de style de NewPost.vue

=========================================================*/

.new-post_linkBox-image {
  width: 100%;
}

.box {
  background-color: $background-color;
}

.dashboard-Items {
  box-sizing: border-box;
  box-shadow: 2px 2px 5px;
  border-radius: 5px;
  width: 60%;
  overflow: auto;
  margin: 32px auto;
  @media screen and (max-width: 525px) {
    width: 90%;
  }
}

.post-width {
  width: 80%;
  margin: auto;
}

.hidden {
  display: none;
}

#profileBox {
  background-color: $background-color;
  width: 2o0px;
  padding: 8px;
  position: absolute;
  right: 12px;
  text-align: right;
  box-shadow: 0px 0px 5px $background-color;

  .profile-link {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
// Page précédente
.backlink_icon {
  padding: 10px;
  border-radius: 5px;
  color: $background-color;
  background-color: $second-color;
}
.backlink_icon:before {
  padding-right: 10px; 
}

///item new
.new-post {
  padding: 8px;
  background: white;
  border: solid lighten($primary-color, 40%) 1px;
  border-radius: 4px;
  color: $primary-color;
  box-sizing: border-box;
  width: 60%;
  height: auto;
  margin: 16px auto;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media screen and (max-width: 525px) {
    width: 90%;
  }

  &_linkBox {
    display: flex;
  }

  &_Link {
    border: solid lighten($primary-color, 40%) 1px;
    border-radius: 4px;
    color: $primary-color;
    background-color: white;
    padding: 8px;
    margin: 0 8px;
    text-decoration: none;
    font-size: 12px;
  }

  &_logo {
    width: 30px;
    border-radius: 100%;
  }

  &_form {
    display: flex;
    flex-direction: column;

    &-input {
      font-size: 12px;
      width: 100%;
      border: none;
      border-bottom: solid $main-color 1px;
      line-height: 30px;
    }

    &-label {
      padding-top: 8px;
      color: $main-color;
      font-weight: 500;
    }

    &-file {
      font-size: 12px;
      border: none;
      padding: 16px 0;
    }

    &-button {
      color: $main-color;
      border-radius: 16px;
      border: none;
      padding: 8px;
      background-color: white;
      border: $main-color solid 1px;
      width: 250px;
      margin: auto;
      &:hover {
        background-color: lighten($main-color, 10%);
        color: white;
        border: $second-color solid 1px;
      }
    }
  }
  .new-post_close-button {
    color: black;
  }
}

.fade-enter-active {
  transition: opacity 0.5s;
}
.fade-enter {
  opacity: 0;
}

/*======================================================*/

/* Feuille de style de Post.vue

=========================================================*/

.delete-btn {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 0.5em 1em;
  background-color: $main-color;
  color: $background-color;
  border: 1px solid $second-color;
  border-radius: 5px;
  box-shadow: 2px 1px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
#delete_alert, #error_msg {
  color: #ff0000;
}
.post_comments-display {
  padding-right: 5px;
}
.post_comments li {
  align-items: center;
}
.post_delete-btn {
  padding-left: 10px;
  color: #000;
}
// Gestion bouton de suppression de post 
.active a > i {
  display: flex;
}
.display_hover {
  display: none;
}

/*======================================================*/

/* Feuille de style de NewCommentItem.vue

=========================================================*/

.newComment {
  padding: 8px;
  box-sizing: border-box;

  &_part{
    padding: 8px;
    display: flex;
  }
  &_input {
    flex: 1;
    padding: 8px;
    background: white;
    border: solid lighten($primary-color, 40%) 1px;
    border-radius: 4px;
    color: $primary-color;
  }
  .far {
    font-size: 16px;
    padding-left: 2px;
    padding-right: 8px;
  }

  &_button {
    background-color: white;
    border-radius: 8px;
    color: $primary-color;
    border: solid lighten($primary-color, 40%) 1px;
    padding: 8px;
    margin: 8px;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}

/*======================================================*/

/* Feuille de style de Admin.vue

=========================================================*/

.adminPage {
  color: black;
  font-size: 14px;
  box-sizing: border-box;
  display: flex;
  width: 90%;
  padding-top: 16px;
  margin: auto;
  @media screen and (max-width: 525px) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.users-list {
  width: 200px;
  min-width: 200px;
  color: black;
  padding: 8px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 525px) {
    width: 90%;
  }

  &_heading {
    color: $main-color;
    font-size: 16px;
    border-bottom: solid darken($primary-color, 20%) 1px;
    margin-bottom: 30px;
    @media screen and (max-width: 525px) {
      text-align: center;
      border-bottom: none;
    }
  }
  &_name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background-color: lighten($primary-color, 20%);
    border-radius: 5px;
    border-bottom: solid lighten($primary-color, 40%) 1px;
    font-weight: 500;
  }

  &_items {
    display: flex;
    flex-direction: column;
    border-bottom: solid lighten($primary-color, 40%) 1px;
    a,
    p,
    i {
      color: darken($main-color, 20%);
      font-size: 14px;
      padding-right: 16px;
      text-decoration: none;
    }
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .fas {
    color: $main-color;
    width: 18px;
  }

  &_delete-link {
    margin-bottom: 30px;
    &:hover {
      color: $important-color;
    }
  }
}

.users-comments,
.users-posts {
  min-width: 70%;
  color: $main-color;
  font-size: 16px;
  padding: 8px;

  &_id {
    border-bottom: solid lighten($primary-color, 40%) 1px;
    padding-top: 16px;
    font-weight: bold;
    margin: 0;
  }
  &_title {
    font-size: 16px;
    text-decoration: underline;
  }
  &_image {
    max-width: 300px;
    margin: auto;
  }

  &_delete-link {
    text-decoration: none;
    color: $main-color;
    &:hover {
      color: $important-color;
      text-decoration: underline;
    }
  }
}


.users-content {
  display: contents;
  border-left: solid lighten($primary-color, 40%) 1px;
  @media screen and (min-width: 769px) and (max-width: 1366px) {
    margin-left: 150px;
  }
  @media screen and (min-width: 525px) and (max-width: 768px) {
    margin-left: 50px;
  }
  @media screen and (max-width: 525px) {
    border-top: solid $main-color 2px;
    border-left: none;
    padding: 8px;
    width: 90%;
  }
}

.unauthorizedMessage {
  color: $main-color;
  font-size: 1em;
  font-weight: 100;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../assets/icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/*======================================================*/

/* Feuille de style de Sidebar.vue

=========================================================*/

.slide-enter-active,
.slide-leave-active
{
    transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(-100%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    background-color: rgba(19, 15, 64, .4);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.sidebar-panel {
  @media screen and (min-width: 1440px){
    height: 100vh;
  }
    overflow-y: auto;
    background-color:  #13244b;
    position: fixed;
    right: 0;
    //height: 100vh;
    z-index: 999;
    padding: 3rem 20px 2rem 20px;
    width: 300px;
}
.display_lowres {
  display: flex;
  justify-content: flex-end;
}